.x {
    background-color: #bbd4de;
}

.top {
    display: flex;
    justify-content: space-between;
}

.ttl {
    background-color: #bbd4de;
    font-weight: bold;
    padding: 0px 5px 0px 0px;
}

.cnt {
    margin: 5px 10px;
}

.st {
    padding-left: 4px;
    border-left: 2.5px solid #bbd4de;
}

footer {
    padding-top: 0px;
    border: none;
    display: flex;
    justify-content: right;
}
